Diseño CanSat UTN/Placas.zip
C:\Users\calde\OneDrive\Escritorio\CanSat UTN\Diseño CanSat UTN\Placa principal\Diseño CanSat UTN-backups
C:\Users\calde\OneDrive\Escritorio\CanSat UTN\Diseño CanSat UTN\Placa principal\#auto_saved_files#
C:\Users\calde\OneDrive\Escritorio\CanSat UTN\Diseño CanSat UTN\Placa principal\_autosave-Diseño CanSat UTN
C:\Users\calde\OneDrive\Escritorio\CanSat UTN\Diseño CanSat UTN\Placa principal\Diseño CanSat UTN.xml
C:\Users\calde\OneDrive\Escritorio\CanSat UTN\Diseño CanSat UTN\Placa principal\Diseño CanSat UTN.csv
materiales.txt
C:\Users\calde\OneDrive\Escritorio\CanSat UTN\Diseño CanSat UTN\Placas.zip
C:\Users\calde\OneDrive\Escritorio\CanSat UTN\test_esp32_sd\sketch_oct17a\camera_pins.h
C:\Users\calde\OneDrive\Escritorio\CanSat UTN\Diseño CanSat UTN\Placa de avisos\Placa de avisos-backups
C:\Users\calde\OneDrive\Escritorio\CanSat UTN\Diseño CanSat UTN\Placa de avisos\fp-info-cache
C:\Users\calde\OneDrive\Escritorio\CanSat UTN\Diseño CanSat UTN\Placa de avisos\Placa de avisos.csv
C:\Users\calde\OneDrive\Escritorio\CanSat UTN\Diseño CanSat UTN\Placa de avisos\Placa de avisos.xml
C:\Users\calde\OneDrive\Escritorio\CanSat UTN\Diseño CanSat UTN\Placa sensores\Placa de sensores\Placa de sensores-backups
C:\Users\calde\OneDrive\Escritorio\CanSat UTN\Diseño CanSat UTN\Placa sensores\Placa de sensores\Placa de sensores.xml
C:\Users\calde\OneDrive\Escritorio\CanSat UTN\Diseño CanSat UTN\Placa sensores\Placa de sensores\Placa de sensores.csv
.gitignore.txt